/* GalleryStyles.css */
.gallery {
    position: relative;
  }
  
  .gallery-item {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .image-container {
    flex: 1;
    padding-right: 20px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }
  
  .text-container {
    flex: 2;
    padding-left: 20px;
  }
  