
body {
  margin: 0;
  font-family: 'TypoSquareBold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'TypoSquareBold'; /* Choose a name for your font */
  src: url('./typo-square-font/TypoSquareBoldDemo-JMwo.ttf') format('truetype');
  /* You may also include other font formats (woff, woff2, etc.) for better browser compatibility */
}

/* .parallax-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('./images/backdrop.jpeg') center/cover no-repeat; 
  will-change: transform; 
} */
